<div class="container">
  <form [formGroup]="myForm">
    <div class="card">
      <div class="card-header">
        <h2>Laptop Store App</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3>Add a Laptop</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" formControlName="fname">
            
            <div *ngIf="fname.errors?.['required'] && (fname.touched)">
              <p style="color: red;">Name is required</p>
            </div>

            <div *ngIf="fname.errors?.['minlength']">
                <p style="color: red;">Name should be of minimum 3 letters</p>
            </div>

            <div *ngIf="fname.errors?.['maxlength']">
              <p style="color: red;">Name should be of maximum 20 letters</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="price" class="form-label">Price:</label>
            <input type="text" class="form-control" id="price" formControlName="fprice">
            <div *ngIf="fprice.errors?.['required'] && (fprice.touched)">
              <p style="color: red;">Price is required</p>
            </div>

            <div *ngIf="fprice.errors?.['max']">
              <p style="color: red">Price should not exceed 9999</p>
            </div>

            <div *ngIf="fprice.errors?.['min']">
              <p style="color: red;">Price should be greater than 0</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="brand" class="form-label">Brand:</label>
            <input type="text" class="form-control" id="brand" formControlName="fbrand">

            <div *ngIf="fbrand.errors?.['required'] && (fbrand.touched)">
              <p style="color: red;">Brand is required</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="ram" class="form-label">RAM:</label>
            <input type="text" class="form-control" id="ram" formControlName="fram">

            <div *ngIf="fram.errors?.['ram'] && (fram.touched)">
              <p style="color: red;">RAM is required</p>
          </div>

          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="processor" class="form-label">Processor:</label>
            <input type="text" class="form-control" id="processor" formControlName="fprocessor">

            <div *ngIf="fprocessor.errors?.['required'] && (fprocessor.touched)">
              <p style="color: red;">Processor is required</p>
          </div>

          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="storage" class="form-label">Storage:</label>
            <input type="text" class="form-control" id="storage" formControlName="fstorage">

            <div *ngIf="fstorage.errors?.['required'] && (fstorage.touched)">
              <p style="color: red;">Storage is required</p>
          </div>

          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="d-grid">
              <button [disabled]="myForm.get('fname')?.invalid || myForm.get('fram')?.invalid || myForm.get('fbrand')?.invalid || myForm.get('fstorage')?.invalid || myForm.get('fprocessor')?.invalid || myForm.get('fprice')?.invalid" type="submit" class="btn btn-primary" (click)="onSubmit()">Add Laptop</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card-header">
            <h3>Laptop List</h3>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <div class="card-header">
            <label for="sname" class="form-label">Search by name: </label>
            <input type="text" class="form-control" id="sname" formControlName="sname" (input)="handleSearch()">
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <div class="card-header">
            <label for="sprice" class="form-label">Search by price: </label>
            <input type="text" class="form-control" id="sprice" formControlName="sprice" (input)="handleSearch()">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card-header">
            <label for="sbrand" class="form-label">Search by Brand: </label>
            <input type="text" class="form-control" id="sbrand" formControlName="sbrand" (input)="handleSearch()">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <table class="table table-striped">
            <thead>
              <th>ID</th>
              <th>Name</th>
              <th>Price</th>
              <th>Brand</th>
              <th>Ram</th>
              <th>Processor</th>
              <th>Storage</th>
              <th style="text-align: center;">Actions</th>
            </thead>
            <tbody>
              <tr *ngFor="let laptop of laptops; let i = index">
              <td>{{i+1}}</td>
              <td>{{laptop.name}}</td>
              <td>{{laptop.price}}</td>
              <td>{{laptop.brand}}</td>
              <td>{{laptop.ram}}</td>
              <td>{{laptop.processor}}</td>
              <td>{{laptop.storage}}</td>
              <td>
                <button class="btn btn-primary" style="background-color: red; margin-right: 1cm; margin-left: 1.5cm;" (click)="onEdit(laptop.id)">Update</button>
                
                <button class="btn btn-primary" (click)="onDelete(laptop.id)">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>